@font-face {
  font-family: "Roboto";
  src: url("../../font/Roboto/Roboto-Regular.ttf"); }
@font-face {
  font-family: "lcd";
  src: url("../../font/lcd/LCDMonoWinTT/LCDMN___.ttf"); }
@font-face {
  font-family: "avenger";
  src: url("../../font/avengeance/AVENGEANCE HEROIC AVENGER.ttf"); }
.form-fix-login-01 {
  font-family: "Roboto";
  position: relative;
  width: 98%;
  max-width: 550px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#673ab7+0,9575cd+100 */
  background: #3F51B5;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3F51B5 0%, #7986CB 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3F51B5 0%, #7986CB 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3F51B5 0%, #7986CB 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3F51B5', endColorstr='#7986CB',GradientType=0 );
  /* IE6-9 */
  left: 50%;
  -webkit-box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.75);
  z-index: 0;
  height: 330px;
  transform: translate(-50%, 0); }
  .form-fix-login-01.open-login {
    transform: translate(-50%, 0%); }
  .form-fix-login-01 .group {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 10px; }
    .form-fix-login-01 .group .label {
      display: inline-block;
      position: relative;
      margin: 2px;
      padding: 2px;
      width: 35px;
      max-width: 35px; }
      .form-fix-login-01 .group .label span {
        margin-left: 6px;
        margin-right: 6px; }
        .form-fix-login-01 .group .label span.fa {
          color: #1A237E; }
    .form-fix-login-01 .group .input {
      font-family: "Roboto";
      display: inline-block;
      width: calc(100% - 100px);
      font-size: 20px;
      color: #303F9F;
      padding: 4px;
      margin: 2px;
      border: none; }
      .form-fix-login-01 .group .input:focus {
        background-color: #E8EAF6; }
  .form-fix-login-01 .title {
    font-family: "Roboto";
    margin: 10px;
    color: #E8EAF6; }
  .form-fix-login-01 .remember {
    margin: 10px;
    margin-right: 20px;
    border: 0;
    -ms-transform: scale(2);
    /* IE */
    -moz-transform: scale(2);
    /* FF */
    -webkit-transform: scale(2);
    /* Safari and Chrome */
    transform: scale(2);
    /* Opera */ }
  .form-fix-login-01 .title-remember {
    font-family: "Roboto";
    font-size: 20px;
    color: #E8EAF6; }
  .form-fix-login-01 .btn-login {
    font-family: "Roboto";
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    width: 100%;
    height: 47px;
    margin-top: 10px;
    margin-bottom: 0px;
    bottom: 0;
    color: #E8EAF6;
    border: 0;
    border-top: 1px solid #E8EAF6;
    border-bottom: 1px solid #3949AB;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#512da8+0,311b92+100 */
    background: #3F51B5;
    /* Old browsers */
    background: -moz-linear-gradient(top, #303F9F 0%, #1A237E 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #303F9F 0%, #1A237E 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #303F9F 0%, #1A237E 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303F9F', endColorstr='#1A237E',GradientType=0 );
    /* IE6-9 */ }

/*# sourceMappingURL=03form-fix-login-01.css.map */
